body {
  background: #fff;
  padding-top: 100px;
}

ul {
  margin: 0;
}


body a {
  text-decoration: none;
}

body p.author {
  font-weight: bold;
  margin-bottom: 0 !important;
}


.navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar .dropdown-toggle::after {
  display: none !important;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.banner {
  background-image: url('/static/blog/image/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 600px;
  padding-top: 14rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1; 
}

.banner-content {
  position: relative; 
  color: white;
  z-index: 2;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.banner-heading {
  color: #fff;
}

.banner-subheading {
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}

@media (max-width: 767px) {
  .banner {
    padding-top: 10rem;
    padding-bottom: 4rem;
    min-height: 400px;
  }
}

.album-heading {
  margin-top: 20px;
  margin-bottom: 24px;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}  

.card:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 220px;
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  object-fit: cover;
}

.content-section {
  width: 80%;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.comment-body {
  background: #e0dfdf;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.avatar {
  height: 50px;
  width: 50px;
  border: 2px;
  border-color: #fff;
  border-width: 2px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.media-body {
  width: 100%;
}

button#userDropdown {
  outline: none;
  border: none;
}

button#userDropdown:focus {
  outline: none;
  border: none;
}