{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}Update Profile{% endblock  %}

{% block content %}
<div class="content-section">
  <h2>Update Profile</h2>
  <div class="media d-flex">
    <img class="rounded-circle account-img" src="{% thumbnail user.profile.photo 300x300 crop %}">
    <div class="media-body d-flex flex-column justify-content-center">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <form method="post" enctype="multipart/form-data">
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile Info</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        {% csrf_token %}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-primary mb-3" type="submit">Update</button>
    </div>
  </form>
</div>
{% endblock  %}