{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}Profile{% endblock  %}

{% block content %}
<div class="content-section mx-auto px-5 py-5">
  <div class="media d-flex mb-4">
    <img class="rounded-circle account-img" src="{% thumbnail user.profile.photo 300x300 crop %}">
    <div class="media-body d-flex flex-column justify-content-center">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <div>
    {% if user.posts %}
      <h3>Your posts</h3>
      {% for post in posts %}
        <article class="media content-section d-flex">
          <img src="{% thumbnail post.author.profile.photo 300x300 crop  %}" class="rounded-circle  mt-2">
          <div class="media-body">
            <div class="article-metadata mt-2">
              <p class="author"><a class="mt-4" href="{% url "blog:user-posts" post.author.username %}">{{ post.author.username }}</a><p class="author">
              <small class="text-muted">{{ post.publish|date:'d M Y' }}</small>
            </div>
            <h2><a class="article-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|truncatewords:30 }}</p>
          </div>
        </article>
      {% endfor %}
    {% else %}
      <p>You haven't published any post yet.</p>
    {% endif %}
  </div>

  <div class="form-group">
    <a class="btn btn-primary mb-3" href="{% url "settings" %}">Update Profile</a>
  </div>
</div>
{% endblock  %}