{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}Profile{% endblock  %}

{% block content %}
<div class="container py-5">
  <div class="content-section shadow-sm d-flex flex-column align-items-center border-0">
      <img class="rounded-circle account-img mb-4" src=" {% thumbnail user.profile.photo 250x250 crop %}">
      <h3>{{ user.username }}</h3>
      <p class="text-secondary mb-1">{{ user.email }}</p>
      <p>Joined on {{ user.date_joined|date:'d M Y' }}</p>
      <a class="btn btn-success my-4" href="{% url "settings" %}">Edit Profile</a>
  </div>

  <div class="mt-5">
      <h3 class="text-center">Your posts</h3>
      <div class="container d-flex flex-column align-items-center min-vh-100 pt-3">
        {% for post in posts %}
          <a href="{{ post.get_absolute_url }}" class="text-decoration-none w-100 w-md-75 w-lg-50">
            <div class="card card-blog mb-3 border-0 shadow-sm mx-auto">
              <div class="row g-0 align-items-center">
                <div class="col-3 col-md-2">
                  <img src="{% thumbnail post.post_image 180x180 crop%}" class="blog-thumbnail img-fluid rounded" alt="{{post.title}}">
                </div>
                <div class="col-9 col-md-10">
                  <div class="card-body">
                    <p class="card-text"><small class="text-body-secondary">{{ post.publish|date:'d M Y' }}</small></p>
                    <h3 class="card-title">{{ post.title }}</h3>
                    <p class="card-text d-none d-md-block">{{ post.content|truncatewords:20 }}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% empty %}
          <p class="text-center text-muted">You haven't published any posts yet.</p>
        {% endfor %}
      </div>
  </div>
</div>
{% endblock  %}