{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Post{% endblock  %}

{% block content %}
  <div class="content-section">
    <form method="post" enctype="multipart/form-data">  
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create Post</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group mt-3 mb-3">
        <button class="btn btn-primary me-3" name="status" value="PB" type="submit">Publish</button>
        <button class="btn btn-secondary" name="status" value="DF" type="submit">Save as Draft</button>
      </div>
    </form>
  </div>
{% endblock  %}