{% extends "blog/base.html" %}
{% load thumbnail %}

{% block content %}
<div class="container py-5 mx-auto">
  <h3 class="mb-5 ms-2">Posts by {{posts.first.author.username}}</h3>
  {% for post in posts %}
    <a href="{{ post.get_absolute_url }}" class="text-decoration-none w-100 w-md-75 w-lg-50">
      <div class="card card-blog mb-3 border-0 mx-auto">
        <div class="row g-0 align-items-center">
          <div class="col-3 col-md-2">
            <img src="{% thumbnail post.post_image 180x180 crop%}" class="blog-thumbnail img-fluid rounded" alt="{{post.title}}">
          </div>
          <div class="col-9 col-md-10">
            <div class="card-body">
              <p class="card-text"><small class="text-body-secondary">{{ post.publish|date:'d M Y' }}</small></p>
              <h3 class="card-title">{{ post.title }}</h3>
              <p class="card-text d-none d-md-block">{{ post.content|truncatewords:20 }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}

  {% if is_paginated %}
    <nav aria-label="Page navigation" class="py-4">
      <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a> 
          </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item active">
              <span class="page-link">{{ num }}</span>
            </li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% elif num == 1 or num == page_obj.paginator.num_pages %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% elif num == page_obj.number|add:"-3" or num == page_obj.number|add:"3" %}
            <li class="page-item disabled">
              <a class="page-link">...</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a> 
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
{% endblock  %}