{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock  %}

{% block content %}
  <div class="content-section">
    <form method="post">  
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Change your password</legend>
        {{ form|crispy }}
        {% csrf_token %}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-primary mb-3" type="submit">Change</button>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Need An Account? <a href="{% url "blog:register" %}" class="ml-2">Sign Up Now</a>
      </small>
    </div>
  </div>
{% endblock  %}