{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock  %}

{% block content %}
  <div class="content-section">
    <form method="post">  
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Forgotten your password?</legend>
        <p>Enter your e-mail address to obtain a new password.</p>
        {{ form|crispy }}
        {% csrf_token %}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-primary mb-3" type="submit">Send e-mail</button>
      </div>
    </form>
  </div>
{% endblock  %}